<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Local CSS -->
    <link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

    <title>Tees by Van</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid nav-text-color">
        <a class="navbar-brand  nav-text-color" href="{{url_for('home')}}">Get Artist Info</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link nav-text-color" href="{{url_for('home')}}">Home</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link nav-text-color" href="{{url_for('login')}}">Login</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link nav-text-color" href="{{url_for('create_account')}}">Create Account</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link nav-text-color" href="{{url_for('cart')}}">Cart</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link nav-text-color" href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
    </div>
</nav>